/* Product.css */

.product-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}

.product-image {
    max-height: 160px;
    transition: transform 0.3s ease-in-out;
}

.product-image-container:hover .product-image {
    transform: scale(1.1);
}

.product-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-button {
    background-color: #7a7991;
    border: none;
    cursor: pointer;
    width: 48%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.product-button:hover {
    background-color: #cdd2d6;
}

.product-title {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.product-title:hover {
    color: #31199b;
    
}

.product-category {
    margin-top: 11px;

    color: #555;

    font-size: 16px;
   
}

.product-price {
    color: #777;
    font-size: 18px;
}