body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.grid {
    display: grid;
    gap: 30px;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .md-grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .lg-grid-cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {
    .xl-grid-cols-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

.product-card {
    background-color: #dee2e6;
    border: 1px solid #bdc2c7;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar.closed {
    right: -100%;
}

.sidebar-content {
    padding: 20px;
}

.header {
    background-color: #681e48;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    font-size: 1.25rem;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
}

.cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-icon svg {
    font-size: 1.5rem;
}

.cart-icon span {
    margin-left: 8px;
}

/*Product details */

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.product-image {

    margin-top: 30px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.product-info {
    margin-left: 20px;
    max-width: 600px;
}

.product-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 8px;
}

.product-info strong {
    font-weight: bold;
    margin-right: 8px;
}


.product-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar.closed {
    right: -100%;
}

.sidebar-content {
    padding: 20px;
}

.header {
    background-color: #8b8589;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-icon svg {
    font-size: 1.5rem;
}

.cart-icon span {
    margin-left: 8px;
}

.home-container {
    padding: 20px;
}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.category-button {
    background-color: #7a7991;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category-button.active {
    background-color: #7a7991;
}

.category-button:hover {
    background-color: #cdd2d6;
}


/*cart*/

 .cart-container {
    padding: 50px;
    max-width: 1300px;
    margin: 0 auto;
    margin-left: 50px;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.cart-item-image img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
    margin-left: 50px;
    gap: 20px
}

.cart-empty {
    font-style: italic;
    color: #888;
}

.continue-shopping {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #7a7991;
    font-weight: bold;
    margin-right: 70px;
}

.cart-total {
    margin-top: 20px;
}

.cart-total p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.place-order-btn {
    background-color: #7a7991;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 20px;
}

.place-order-btn:hover {
    background-color: #cdd2d6;
}

.cart-item-actions {
    margin-top: 10px;
}

.cart-item-actions button {
    background-color: #7a7991;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cart-item-actions button:hover {
    background-color: #cdd2d6;
}


.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar.closed {
    right: -100%;
}

.sidebar-content {
    padding: 20px;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}

.view-cart-btn {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #7a7991;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.view-cart-btn:hover {
    background-color: #cdd2d6;
}

.footer {
    background-color: #8b8589;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 0;
}

.footer nav ul {
    list-style-type: none;
    padding: 0;
}

.footer nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

.footer nav ul li a:hover {
    text-decoration: underline;
}


/* Product.css */

.product-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
}

.product-image {
    max-height: 160px;
    transition: transform 0.3s ease-in-out;
}

.product-image-container:hover .product-image {
    transform: scale(1.1);
}

.product-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.product-button {
    background-color: #cdd2d6;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.product-button:hover {
    background-color: #681e48;
    color: #be3b3b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-title {
    text-decoration: none;
    color: #333;
    font-size: 12px;
}

.product-title:hover {
    color: #7a7991;
}
.add-button {
    background-color: #cdd2d6;
}

.add-button:hover {
    background-color: #7a7991;
}

.view-button {
    background-color: #cdd2d6;
}

.view-button:hover {
    background-color: #7a7991;
}

.product-category {
    margin-top: 11px;
    color: #555;
    font-size: 16px;
}

.product-price {
    color: #777;
    font-size: 18px;
}


/* styles.css */
.add-to-cart-btn {
    background-color: #7a7991;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #7a7991;
}